:ruby
  tags = @item[:tags]
  tags = [] if tags.nil?
  tags = tags.map { |s| s.to_sym }
  tags << @item[:tag].to_sym unless @item[:tag].nil?

.links#menu

  %ul
    %li
      %strong Archives
      %ul
        %li
          %a(href="#{link_item("/articles/")}") Articles
        %li
          %a(href="#{link_item("/edito/")}") Éditoriaux

    %li
      %strong
        %a(href="#{link_item("/tags/nwo/")}") Le Nouvel Ordre Mondial
      %ul
        %li
          %a Qui Sont Ils
        %li
          %a Leurs Buts
        %li
          %a Leurs Armes

    %li
      %strong Comprendre
      %ul
        %li
          %a(href="#{link_item("/tags/event/")}") Évennements
        %li
          %a(href="#{link_item("/tags/freeenergy/")}") Les Énergies Libres

  - unless (tags & [:freeenergy, :event]).empty?
    %ul
      - if tags.include? :freeenergy
        %li
          %strong Les Énergies Libres
          %ul
            %li
              %a Air Comprimé
            %li
              %a Énergie Magnétique
            %li
              %a Nouvelles Théories Physiques
      - if tags.include? :event
        %li
          %strong Évennements
          %ul
            %li
              %a(href="#{link_item("/tags/elenin/")}") Elenin
            %li
              %a(href="#{link_item("/tags/end/")}") Évennements de la fin
              

